RewriteEngine on
RewriteCond $1 !^(index\.php|assets|images|js|css|uploads|favicon.png)
rewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]

<FilesMatch ".(eot|otf|ttf|woff|woff2)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>